.sidebar {
  background: var(--purple-800);
  
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.sidebar > header {
  display: flex;
  max-width: 19.8rem;
  margin-top: 6.69rem;
  

  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.sidebar > header h2 {
  color: var(--white);
  font-size: 2rem;
  font-weight: bold;
}

.sidebar > header p {
  color: var(--white);
  opacity: 60%;
  font-size: 1.2rem;
  font-weight: 300;
}

.sidebarButtons {
  display: flex;
  max-width: 19.8rem;
  margin-top: 4.5rem;
  

  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.sidebarButtons > button {
  border: none;
  border-radius: 24px;
  height: 48px;
  padding: 0 5.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  
  text-transform: uppercase;
}

.sidebarButtons > button:nth-child(1) {
  background: var(--purple-500);
  color: var(--white);
}

.sidebarButtons > button:nth-child(2) {
  background: var(--gray-500);
  color: var(--white);
  opacity: 60%;
}

.sidebarButtons > button:nth-child(3) {
  background: none;
  color: var(--white);
  padding: 0 4rem;
  gap: 0.8rem;
}

.sidebarButtons > button:nth-child(1):hover {
  background: var(--purple-300);
  transition: background 0.5s;
}

.sidebarButtons > button:nth-child(2):hover {
  cursor: url(./public/mouse-not-allowed.svg) 4 12, auto;
}

.sidebarButtons > button:nth-child(2):focus {
  outline: transparent;
  box-shadow: none;
}

.sidebarButtons > button:nth-child(3):hover {
  cursor: url(./public/move-sign.svg) 4 12, auto;
}
